.BeanField{
    position: absolute;
    left: 50%;
    bottom: 65%;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0 0 .35vw black;
    background-color: rgb(60, 61, 68);
}


#fieldImage{
    position: absolute;
    width: 6.5vw;
    height: 10vw;
}

#coinProgress{
    font-size: 1.4vw;
    font-weight: bold;
    background-color: rgb(60, 61, 68);
}
#harvestButton{
    font-size: 1.2vw;
    font-weight: bolder;
    background-color: rgb(60, 61, 68);
}
#plantButton{
    font-size: 1.2vw;
    font-weight: bolder;
    background-color: rgb(60, 61, 68);
}
#coinImage{
    position: absolute;
    width: 1.6vw;
    height: 1.6vw;
}
