.BeanField{
    position: absolute;
    left: 50%;
    bottom: 65%;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    text-align: center;
}


#fieldImage{
    position: absolute;
    width: 6.5vw;
    height: 10vw;
}

#coinProgress{
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(60, 61, 68);
}
