.Card {
  position: absolute;
  width: fit-content;
  height: fit-content;
}

.bean-image {
  position: absolute;
  width: 6.5vw;
  height: 10vw;
  box-shadow: 0 0 0 0.1vw #fde32c;
  border-radius: 0.6vw;
}
