.InfoCard{
    position: relative;
    margin-bottom: 20px;
    margin-left: 87%;
    right: 0;
    top: 0;
    width: 13vw;
    height: 11vw;
    background-color: gray;
}
#usernameText{
    display:grid;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 13vw;
    height: 2vw;
    font-size: 1.8vw;
    font-weight: bold;
    background-color: rgb(60, 61, 68);
}
#leftCardImage{
    position: absolute;
    left: 0vw;
    top: 2.1vw;
    width: 4.68vw;
    height: 7.2vw;
    border-style: none;
}
#rightCardImage{
    position: absolute;
    left: 6.5vw;
    top: 2.1vw;
    width: 4.68vw;
    height: 7.2vw;
    border-style: none;
}
#coinProgressLeft{
    font-size: 1.5vw;
    font-weight: bold;
    background-color: rgb(60, 61, 68);
    position: absolute;
    text-align: center;
    left: 0vw;
    width: 4.68vw;
    top: 9.3vw;
    height: 1.7vw;
}
#coinProgressRight{
    font-size: 1.5vw;
    font-weight: bold;
    background-color: rgb(60, 61, 68);
    position: absolute;
    text-align: center;
    left: 6.5vw;
    width: 4.68vw;
    top: 9.3vw;
    height: 1.7vw;
}
#coinImage{
    position: absolute;
    width: 1.6vw;
    height: 1.6vw;
}