.TradeTable{
    position: absolute;
    left: 0;
    top: 0;
    width: fit-content;
    height: fit-content;
}

#tableImage{
    position: absolute;
    width: 22.25vw;
    height: 31.6vw;
}
#tradeButton{
    font-size: large;
    font-weight: bold;
    background-color: rgb(60, 61, 68);
}
#confirmButton{
    font-size: large;
    font-weight: bold;
    background-color: rgb(60, 61, 68);
}