.TradeTable{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 22.25vw;
    height: 31.6vw;
}

#tableImage{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 22.25vw;
    height: 31.6vw;
}
#tradeButton{
    position: absolute;
    left: 0;
    top: 31.6vw;
    width: 20vw ;
    height: 2vw;
    font-size: large;
    font-weight: bold;
    background-color: rgb(60, 61, 68);
}
#confirmButton{
    position: absolute;
    left: 20vw;
    top: 31.6vw;
    width: 2.25vw ;
    height: 2vw;
    font-size: large;
    font-weight: bold;
    background-color: rgb(60, 61, 68);
}