.Active-game
{
    left: 0;
    top: 0;
    background: rgb(50, 99, 17);
    width: stretch;
    height: stretch;
    position: absolute;
}

.Next-turn
{
    background-color: rgb(218, 194, 63);
}

#gameStatus{
    display: inline;
    position: absolute;
    text-align: center;
    top: 0;
    width: stretch;
}