.Active-game
{
    position: absolute;
    left: 0;
    top: 0;
    width: stretch;
    height: stretch;
    background: rgb(50, 99, 17);
}

#Next-turn
{
    background-color: rgb(218, 194, 63);
}

#gameStatus{
    display: inline;
    position: absolute;
    text-align: center;
    top: -1.5vw;
    width: stretch;
}