.Homepage {
  text-align: center;
}

.Homepage-logo {
  height: 30vmin;
  pointer-events: none;
  display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
  .Homepage-logo {
    display: inline-block;
    animation: App-logo-spin infinite 20s linear;
  }
}

.Homepage-header {
  background-color: #fde32c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes Homepage-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Username-form {
  box-sizing: border-box;
  border-width: 2px;
  border-color: black;
  background-color: #fde32c;
  position: relative;
  width: 100vh;
  height: 2vw;
  left: 300px;
  bottom: 200px;
  font-size: calc(10px + 2vmin);
}